<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divisa</title>
</head>
<body>

    
<div id="app">

    <div class="card">
        <h5 class="card-header">Calculadora de Dolar Bitcoin</h5>
        <div class="card-body">
         

    <div class="alert alert-info" role="alert">
        Ingrese su Monto en Dolares ...
      </div>
    <input class="form-control" v-model="dol"> <p></p><p></p>
    <div class="alert alert-success" role="alert">
        Valor de 1 Dolar en Bitcoins
      </div>
    <input class="form-control" v-model="bit" readonly> <p></p><p></p>
   
  
    <button @click="persist" class="btn btn-outline-success">Generar Datos</button>
    
    Tiene un total de {{message}} Bitcoins

</div>
</div>
</div>





<script type="text/javascript">
	
	const app = new Vue({
  el: '#app',
  data: {
    dol: '',
    bit: 0.000018,
    message:"(*Esperando Datos ...*)"
    
  },
  mounted() {
    if (localStorage.dol) {
      this.dol = localStorage.dol;
    }
    if (localStorage.bit) {
      this.bit = localStorage.bit;
    }
    this.testFunction()
  },
  methods: {
    persist() {
      localStorage.dol = this.dol;
      localStorage.bit = this.bit;
      var res = localStorage.dol * localStorage.bit;
      var v = this;
      setTimeout(function () {
        v.message = res;
    }, 100);
    }
  }
})

</script>


    
</body>
</html>